<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Read_Capcha.Handle_capcha_6"/>
      <class name="Read_Capcha.Handle_Capcha_5"/>
      <class name="Read_Capcha.Handle_capcha_1"/>
      <class name="Read_Capcha.Handle_Capcha_3"/>
      <class name="Read_Capcha.Handle_Capcha_4"/>
      <class name="Read_Capcha.Handle_Captcha_7"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
